body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #8bdd20; /* vert très clair */
}.container {
    background-color: #ffffff; /* fond blanc */
    padding: 50px;
    border-radius: 15px; /* coins arrondis */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* ombre */
    display: inline-block;
}
body {
    background-image: url('image123.jpg'); /* le nom de ton image */
    background-size: cover;  /* l'image couvre tout l'écran */
    background-position: center;
    background-repeat: no-repeat;
}